In [16]:
import re
import pandas as pd

# Chapter2

## find any

In [11]:
text1 = "Hello, my name is Ben \nPlease visit my website at http://www.forta.com/."
re.search("Ben", text1)

In [14]:
print(re.search("my", text1))
print(re.findall("my", text1))

<re.Match object; span=(7, 9), match='my'>
['my', 'my']

* 왜 이렇게 많이 일치하는가?
    * 다수의 정규 표현식 구현에서는 일치하는 목록을 모두 얻을 수 있다. -> 정규표현식 사용의 이유

In [18]:
pd.Series(["a1", "b2", "c3"], dtype="string").str.extract(
    r"(?P<letter>[ab])(?P<digit>\d)", expand=False
)

  letter digit
0      a     1
1      b     2
2   <NA>  <NA>

## findall

In [34]:
sample1 = pd.DataFrame()
sample1['file_name'] = ['sales.xls', 'sales1.xls', 'orders3.xls', 'sales2.xls'
                              , 'sales3.xls', 'apac1.xls', 'europe2.xls', 'na1.xls', 'na2.xls', 'sa1.xls']

In [38]:
#case1
sample1.loc[sample1['file_name'].str.contains(r"sales.", case=True)]

    file_name
0   sales.xls
1  sales1.xls
3  sales2.xls
4  sales3.xls

In [39]:
#case2
sample1.loc[sample1['file_name'].str.contains(r".a.")]

    file_name
0   sales.xls
1  sales1.xls
3  sales2.xls
4  sales3.xls
5   apac1.xls
7     na1.xls
8     na2.xls
9     sa1.xls

* .은 정규표현식에서 모든 문자를 의미한다.
    * 이러한 기호들을 "메타 문자라고 한다"
        * 메타 문자를 구분하기 위해서는 메타 문자 앞에 \(역슬래쉬)를 사용해야 한다.

In [42]:
sample1.loc[sample1['file_name'].str.contains(r".a.\.")]

  file_name
7   na1.xls
8   na2.xls
9   sa1.xls