In [31]:
import re
import pandas as pd

In [32]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width: 78% !important; }</style>"))

In [33]:
sample1 = pd.DataFrame()
sample1['file_name'] = ['sales.xls', 'sales1.xls', 'orders3.xls', 'sales2.xls'
                              , 'sales3.xls', 'apac1.xls', 'europe2.xls', 'na1.xls', 'na2.xls', 'sa1.xls']

In [34]:
def getRegex(df : pd.DataFrame, col_name : str, regex : str) -> pd.DataFrame :
    return df[df[col_name].str.contains(regex)]

# Chapter3

## 문자 집합으로 찾기[]

* 모든 문자가 아니라 n이나 s와 일치하는 파일명만 찾고 싶을 때는 어떻게 해야 하는가?
* and가 아니라 or구조
* 기본적인 구성은 and 여기에 []를 사용하면 or 구조가 된다.

In [53]:
sampleData = pd.DataFrame()
sampleData['val1'] = ['abc1.pdf', 'abc2.pdf', 'abc3.pdf', 'abc4.pdf', 'abc5.pdf']

In [54]:
sampleData.loc[sampleData['val1'].str.contains(r"abc[1-3]")]

       val1
0  abc1.pdf
1  abc2.pdf
2  abc3.pdf

In [39]:
#n이나 s둘중 하나라도 매치되면 Check
sample1[sample1['file_name'].str.contains("[ns]a.\.")]

  file_name
7   na1.xls
8   na2.xls
9   sa1.xls

* 하지만 파일명 가운데 usa1.xls가 있다면? 이 경우도 포함된다. 따라서 [ns]a.\.xls도 정확한 답이 아닐 수 있다.
    * 여기에 대한 자세한 내용은 6장 위치 찾기에서 알아보자.

In [7]:
#특정영역의 대소문자만 구분
text1 = """The phrase "regular expression" is often
abbreviated as RegEx or regex
"""

In [9]:
re.findall(r"[Rr]eg[Ee]x",text1)

['RegEx', 'regex']

## 문자 집합 범위 사용하기[-]

In [25]:
sample2 = pd.DataFrame()
sample2['file_name'] = ['sales1.xls', 'orders3.xls', 'sales2.xls'
                              , 'sales3.xls', 'apac1.xls', 'europe2.xls', 'sam.xls', 'na1.xls', 'na2.xls', 'sa1.xls', 'ca1.xls']

In [22]:
#이럴 경우 sam도 포함된다.
getRegex(sample2, "file_name", "[ns]a.\.")

  file_name
6   sam.xls
7   na1.xls
8   na2.xls
9   sa1.xls

In [23]:
#0-9를 사용하면 숫자만 걸러낼 수 있음
getRegex(sample2, "file_name", "[ns]a[0-9]\.")

  file_name
7   na1.xls
8   na2.xls
9   sa1.xls

* 하이픈을 사용하는 사례
    * A-Z : A ~ Z사이에 있는 모든 대문자 일치
    * a-z : a ~ z사이에 있는 모든 소문자와 일치 
    * A-F : A부터 F사이에 있는 모든 대문자와 일치
    * A-z : 아스키 문자 A ~ 아스키 문자 z 일치 하지만, 대괄호([)와 캐럿(^)같은 문자도 포함되므로 조심
    * 가-힣ㄱ-ㅎㅏ-ㅣ : 한글만 찾기
    
    
* 주의할점 : 하이픈(-)은 대괄호([])안에서만 메타 문자이다. 집합 밖에서는 문자 그대로의 하이픈(-)과 일치한다.

In [2]:
text2 = """
body {
    background-color: #fefbd8;
}
h1 {
    background-color: #0000ff;
}
div {
    background-color: #d0f4e6;
}
span {
    background-color: #f08970;
}
"""

In [16]:
re.findall("#[0-9A-Fa-f][0-9A-Fa-f][0-9A-Fa-f][0-9A-Fa-f][0-9A-Fa-f][0-9A-Fa-f]", text2)

['#fefbd8', '#0000ff', '#d0f4e6', '#f08970']

## 제외하고 찾기[^]

In [30]:
getRegex(sample2, "file_name", "[ns]a[^0-9]\.xls")

  file_name
6   sam.xls