# Library Import

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

# DataSet

[seaborn_dataset](https://github.com/mwaskom/seaborn-data)

In [57]:
penguins_raw = sns.load_dataset(name = "penguins")

In [58]:
penguins_raw.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [59]:
penguins_data = penguins_raw.copy() #원본 복사
penguins_data = penguins_data.dropna() #null값 제거

In [61]:
#DataSet_tune mm -> cm 
penguins_data[["bill_length_mm", "bill_depth_mm", "flipper_length_mm"]] = \
    penguins_data[["bill_length_mm", "bill_depth_mm", "flipper_length_mm"]] \
        .apply(lambda x : x/10)

#DataSet_tune g -> kg
penguins_data["body_mass_g"] = penguins_data["body_mass_g"]/1000

[stackoverflow change colname](https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas)

In [64]:
#DataSet_tune change colname 
penguins_data = penguins_data.rename({"bill_length_mm" : "bill_length_cm", "bill_depth_mm" : "bill_depth_cm" \
                                         ,"flipper_length_mm" : "flipper_length_cm", "body_mass_g" : "body_mass_kg" \
                                     }, axis = 1)

In [65]:
penguins_data.head()

,species,island,bill_length_cm,bill_depth_cm,flipper_length_cm,body_mass_kg,sex
0,Adelie,Torgersen,3.91,1.87,18.1,3.75,MALE
1,Adelie,Torgersen,3.95,1.74,18.6,3.80,FEMALE
2,Adelie,Torgersen,4.03,1.80,19.5,3.25,FEMALE
4,Adelie,Torgersen,3.67,1.93,19.3,3.45,FEMALE
5,Adelie,Torgersen,3.93,2.06,19.0,3.65,MALE

# Sample Statistics

In [68]:
print('species :', penguins_data.species.unique())
print('island', penguins_data.island.unique())

species : ['Adelie' 'Chinstrap' 'Gentoo']
island ['Torgersen' 'Biscoe' 'Dream']

In [77]:
penguins_data.groupby(['species', 'island'])[["bill_length_cm", "bill_depth_cm", "flipper_length_cm", "body_mass_kg"]] \
    .agg(np.mean).reset_index()

,species,island,bill_length_cm,bill_depth_cm,flipper_length_cm,body_mass_kg
0,Adelie,Biscoe,3.897500,1.837045,18.879545,3.709659
1,Adelie,Dream,3.852000,1.824000,18.992727,3.701364
2,Adelie,Torgersen,3.903830,1.845106,19.153191,3.708511
3,Chinstrap,Dream,4.883382,1.842059,19.582353,3.733088
4,Gentoo,Biscoe,4.756807,1.499664,21.723529,5.092437

In [80]:
penguins_data.groupby(['species', 'island']).size().reset_index()

     species     island    0
0     Adelie     Biscoe   44
1     Adelie      Dream   55
2     Adelie  Torgersen   47
3  Chinstrap      Dream   68
4     Gentoo     Biscoe  119

# Using tranfrom method

몸무게가 평균 이하인 새와 평균 초과인 새 구분, 종과 섬 종류별로

1. 값에서 평균을 빼주어야 함
2. 그러려면 평균이 새로운 열로 추가 되어야 함

In [82]:
penguins_data["body_mass_avg"] = penguins_data.groupby(['species', 'island'])["body_mass_kg"].transform(np.mean)

In [84]:
penguins_data.head()

,species,island,bill_length_cm,bill_depth_cm,flipper_length_cm,body_mass_kg,sex,body_mass_avg
0,Adelie,Torgersen,3.91,1.87,18.1,3.75,MALE,3.708511
1,Adelie,Torgersen,3.95,1.74,18.6,3.80,FEMALE,3.708511
2,Adelie,Torgersen,4.03,1.80,19.5,3.25,FEMALE,3.708511
4,Adelie,Torgersen,3.67,1.93,19.3,3.45,FEMALE,3.708511
5,Adelie,Torgersen,3.93,2.06,19.0,3.65,MALE,3.708511

[평균이하_평균초과](https://stackoverflow.com/questions/42405572/how-to-compare-two-columns-of-the-same-dataframe)

In [87]:
penguins_data["body_mass_avgGroup"] = np.where(penguins_data.body_mass_kg > penguins_data.body_mass_avg
                                               , "0.평균초과", "1.평균이하")

In [89]:
penguins_data.groupby(['species', 'island', 'body_mass_avgGroup']).size().reset_index()

     species     island body_mass_avgGroup   0
0     Adelie     Biscoe             0.평균초과  24
1     Adelie     Biscoe             1.평균이하  20
2     Adelie      Dream             0.평균초과  24
3     Adelie      Dream             1.평균이하  31
4     Adelie  Torgersen             0.평균초과  21
5     Adelie  Torgersen             1.평균이하  26
6  Chinstrap      Dream             0.평균초과  31
7  Chinstrap      Dream             1.평균이하  37
8     Gentoo     Biscoe             0.평균초과  58
9     Gentoo     Biscoe             1.평균이하  61