Pandas MultiIndexing에 대해서 공부해봅니다.

In [1]:
#환경세팅
import pandas as pd
import numpy as np

# MultiIndex 생성 방법

## 직접 생성

In [12]:
#from_array
array = [[1, 1, 2, 2, 3, 3], ['사과', '배', '배', '사과', '수박', '배']]
index_array = pd.MultiIndex.from_arrays(array, names=('num', '과일'))
pd.Series(np.random.rand(6), index=index_array)

num  과일
1    사과    0.220216
     배     0.027264
2    배     0.677665
     사과    0.580777
3    수박    0.104455
     배     0.075680
dtype: float64

In [17]:
#from_tuples
iam_tuple = [(a, i) for a, i in zip([1, 2, 3, 4], [5, 6, 7, 8])]
index_tuple = pd.MultiIndex.from_tuples(iam_tuple, names=('num1', 'num2'))
pd.Series(np.random.rand(4), index=index_tuple)

num1  num2
1     5       0.162012
2     6       0.426254
3     7       0.267767
4     8       0.967863
dtype: float64

In [20]:
#from_product - 카타시안 곱으로 index를 생성
num1 = [1, 2, 3]
num2 = [4, 5]
index_product = pd.MultiIndex.from_product([num1, num2], names=('num1', 'num2'))
pd.Series(np.random.rand(6), index=index_product)

num1  num2
1     4       0.404600
      5       0.779905
2     4       0.469609
      5       0.097927
3     4       0.563826
      5       0.114029
dtype: float64

In [23]:
#from_frame - 데이터 프레임의 values 를 그대로 받음
df = pd.DataFrame()
df['num1'] = [1, 2, 3, 4]
df['num2'] = [5, 6, 7, 8]
index_frame = pd.MultiIndex.from_frame(df)
pd.Series(np.random.rand(4), index=index_frame)

num1  num2
1     5       0.323975
2     6       0.040885
3     7       0.973976
4     8       0.025055
dtype: float64

판다스 테스트

In [2]:
data_list = [['AXAMIL', 'A'], ['AXAMIL', 'B'], ['AXAMIL', 'C'], ['AXAEXL', 'D']
                , ['UNPEVL', 'A'], ['UNPEVL', 'E'], ['UNPMSP', 'A'], ['UNPMSP', 'B']]

In [3]:
data = pd.DataFrame(data=data_list, columns=['ID', 'ISIN'])

In [4]:
data

       ID ISIN
0  AXAMIL    A
1  AXAMIL    B
2  AXAMIL    C
3  AXAEXL    D
4  UNPEVL    A
5  UNPEVL    E
6  UNPMSP    A
7  UNPMSP    B

In [36]:
df2 = data.groupby(['ID', 'ISIN']).size().unstack(fill_value=0).astype(bool).rename_axis(None, axis="columns").reset_index()

In [33]:
df2.columns.name = None

In [37]:
df2

       ID      A      B      C      D      E
0  AXAEXL  False  False  False   True  False
1  AXAMIL   True   True   True  False  False
2  UNPEVL   True  False  False  False   True
3  UNPMSP   True   True  False  False  False

In [23]:
df2.index.name = None

In [27]:
df2.rename_axis(None, inplace=True)

In [28]:
df2

ISIN      ID      A      B      C      D      E
0     AXAEXL  False  False  False   True  False
1     AXAMIL   True   True   True  False  False
2     UNPEVL   True  False  False  False   True
3     UNPMSP   True   True  False  False  False

In [12]:
data.groupby(['ID', 'ISIN']).size().unstack(fill_value=0)

ISIN    A  B  C  D  E
ID
AXAEXL  0  0  0  1  0
AXAMIL  1  1  1  0  0
UNPEVL  1  0  0  0  1
UNPMSP  1  1  0  0  0