In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame()
data['idx'] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
data['val'] = [0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1]

In [3]:
data

    idx  val
0     1    0
1     2    0
2     3    0
3     4    1
4     5    1
5     6    1
6     7    0
7     8    0
8     9    0
9    10    1
10   11    1
11   12    1

In [6]:
data['cum'] = data['val'].cumsum()

In [7]:
data

    idx  val  cum
0     1    0    0
1     2    0    0
2     3    0    0
3     4    1    1
4     5    1    2
5     6    1    3
6     7    0    3
7     8    0    3
8     9    0    3
9    10    1    4
10   11    1    5
11   12    1    6

In [5]:
data.groupby('val').idx.agg(list)

val
0       [1, 2, 3, 7, 8, 9]
1    [4, 5, 6, 10, 11, 12]
Name: idx, dtype: object