In [1]:
import pandas as pd

In [29]:
sample_data = pd.DataFrame()
sample_data['a'] = [['a', 'b', 'c', 'd', 'e'], ['a', 'b', 'c']]

In [30]:
sample_data

                 a
0  [a, b, c, d, e]
1        [a, b, c]

In [31]:
sample_data2 = pd.DataFrame()
sample_data2['idx'] = sample_data['a'].explode().index
sample_data2['val'] = sample_data['a'].explode().values

In [32]:
sample_data2['shift_up'] = sample_data2.sort_values(by='val', ascending=False).groupby('idx')['val'].shift(1)

In [33]:
sample_data2 = sample_data2.dropna()
sample_data2['val_shiftUp'] = sample_data2['val'] + sample_data2['shift_up']

In [35]:
sample_data2.groupby(['idx'])['val_shiftUp'].agg(list).reset_index()

   idx       val_shiftUp
0    0  [ab, bc, cd, de]
1    1          [ab, bc]