# 0. Library & Problem

[MainPage](https://www.kaggle.com/arashnic/hr-analytics-job-change-of-data-scientists)

**문제 정의**
* 누가 이직 결심을 하고 있는지?를 찾는 것 
* 미싱 데이터 채우기(여러 컬럼들 간의 연관성 찾기)

In [1]:
print(32)

32

In [3]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML

# 1. Preview

In [4]:
train = pd.read_csv("C:/Users/HOME/Dropbox/dataset/used/hr-analytics-job-change-of-data-scientists/aug_train.csv")
test = pd.read_csv("C:/Users/HOME/Dropbox/dataset/used/hr-analytics-job-change-of-data-scientists/aug_test.csv")
submission = pd.read_csv("C:/Users/HOME/Dropbox/dataset/used/hr-analytics-job-change-of-data-scientists/sample_submission.csv")
print("train")
display(HTML(train.head().to_html()))
print("test")
display(HTML(test.head().to_html()))
print(f'train.shape : {train.shape}')
print(f'test.shape : {test.shape}') #test는 unseen이 기본 전제이다.

train

test

train.shape : (19158, 14)
test.shape : (2129, 13)

* 연속적인 정보들이 별로 없다. index와 hour는 숫자형이지만 범주형적인 속성을 띄고 있다.

In [7]:
#NULL과 타입 정보
print(train.info())
print('*'*100)
print(train.isnull().sum().to_frame().sort_values(by=0, ascending=False))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevent_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  target                  19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB
None
****************************************************************************************************
                           0
company_type            6140
company_size            5938
gender                  4508
major_discipline        2813
education_level          460
last_new_job             423
enrolled_university      386
experience                65
enrollee_id                0
city                       0
city_development_index     0
relevent_experience        0
training_hours             0
target                     0

* 대부분이 범주형 변수 NULL값이 다수인 변수 4개

In [9]:
#유니크 정보
for col in train:
    if len(train[col].unique()) <= 30:
        print(f'{col} : {len(train[col].unique())}, {train[col].unique()}')
    else:
        print(f'{col} : {len(train[col].unique())}')

enrollee_id : 19158
city : 123
city_development_index : 93
gender : 4, ['Male' nan 'Female' 'Other']
relevent_experience : 2, ['Has relevent experience' 'No relevent experience']
enrolled_university : 4, ['no_enrollment' 'Full time course' nan 'Part time course']
education_level : 6, ['Graduate' 'Masters' 'High School' nan 'Phd' 'Primary School']
major_discipline : 7, ['STEM' 'Business Degree' nan 'Arts' 'Humanities' 'No Major' 'Other']
experience : 23, ['>20' '15' '5' '<1' '11' '13' '7' '17' '2' '16' '1' '4' '10' '14' '18'
 '19' '12' '3' '6' '9' '8' '20' nan]
company_size : 9, [nan '50-99' '<10' '10000+' '5000-9999' '1000-4999' '10/49' '100-500'
 '500-999']
company_type : 7, [nan 'Pvt Ltd' 'Funded Startup' 'Early Stage Startup' 'Other'
 'Public Sector' 'NGO']
last_new_job : 7, ['1' '>4' 'never' '4' '3' '2' nan]
training_hours : 241
target : 2, [1. 0.]

**분석 목적**
* 어떤 사람들이 언제 왜 직장을 떠나고 싶어할까?
    * 연차가 높아서?(지루함)
    * 회사 규모?
    * 도시 지수가 높은 사람들? 교육 수준? 등등

# 1. Visualization1 - Depth1

**여러 변수들의 빈도를 나타낼 수 있는 플랏**
1. figure 객체 만들기
2. seaborn 카운트 플랏(범주형 변수)
3. histogram(연속형 변수)